.rowhead {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

tbody tr th:last-child {
    display: flex;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

table {
    border-spacing: 20px;
}

.cartTotal {}