.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    position: relative;
}

.container img {
    width: 95%;
    height: 520px;
    object-fit: cover;
}

.container button {
    background-color: rgb(31, 94, 161);
    color: rgb(229, 185, 9);
    padding: 20px;
    border-radius: 5px;
    right: 25px;
    position: absolute;
    margin: 5px;
    font-weight: bold;
}

.lower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: bold;
}

.lower>div:last-child {
    background-color: rgb(31, 94, 161);
    color: rgb(229, 185, 9);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}