* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background-color: beige;
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-height: 300px;
    background-color: bisque;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#timer {
    font-size: clamp(35px, 4vw, 55px);
    text-align: center;
}

.timerControllers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}